.yellow-one {
    margin-left:auto;
    margin-right: auto;
    width: 500px;
    height: 675px;
    background-color: yellow;
}

.yellow-two {
background-color: yellow;
height:350px;
width:475px;
max-width: 475px;
margin-left:auto;
margin-right: auto;
}

.blue {
background-color: blue;
height:300px;
width:475px;
max-width: 475px;
margin-left:auto;
margin-right: auto;
}
